<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Explorer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <div class="container clearfix">
        <div class="form login">
            <a href="/ind" class="logo">GameExplorer</a>
            <form method="post" action="/ind">
                {% csrf_token %}
                <p>
                    <label>email-id<span>*</span></label>
                    <input type="email" name="email" required>
                </p>
                <p>
                    <label>Password<span>*</span></label>
                    <input type="password" name="password" required>
                </p>
                <p>
                    <label>
                        <a href="/password-reset">Forget password</a>
                        <a href="/reg">Create an account</a>
                    </label>
                    <input type="submit" value="Login" />
                </p>
            </form>
        </div>
    </div>
</body>
</html>
