<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameExplorer</title>
</head>
<body><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameExplorer</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>

        <a href="/ind" class="logo">GameExplorer</a>
        <div class="action">
            <div class="searchbx">
                <a href="#"><i class='bx bx-search'></i></a>
                <input type="text" placeholder="Search Here">
            </div>
        </div>
        <div class="togglemenu">

        </div>
        <ul class="nav">
            <li><a href="/home">Home</a> </li>
            <li><a href="/news">News</a> </li>
            <li><a href="/log">Sign-up/Sign-in</a> </li>
        </ul>

    </header>

    <div class="news">
        <h2>
            Tournaments
        </h2>
        <div class="boxBx">
            <div class="box">
                <img src="static/img/valo.jpg">
                <div class="content">
                    <h4>Valorant</h4>
                    <p>24 Tournaments available</p>
                    <p>Genre: FPS,Shooting</p>
                    <p>Platform: PC</p>
                    <div class="btn">
                        <a href="#" class="watch">Watch</a>
                        <a href="#" class="join">Join</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="static/img/bgmi.jpg">
                <div class="content">
                    <h4>BGMI</h4>
                    <p>11 Tournaments available</p>
                    <p>Genre: Shooting</p>
                    <p>Platform: Mobile</p>
                    <div class="btn">
                        <a href="#" class="watch">Watch</a>
                        <a href="#" class="join">Join</a>
                    </div>
                </div>
            </div>
        </div>

        <h2>Upcoming Games</h2>
        <div class="boxBx">
            <div class="box">
                <img src="static/img/mario.png">
                <div class="content">
                    <h4>Mario & Luigi: Brothership</h4>
                    <p>Genre: Action, Adventure, RPG</p>
                    <p>Release Date: 07 November 2024</p>
                    <p>Platform: Switch</p>
                    <div class="btn">
                        <a href="https://www.nintendo.com/en-gb/Games/Nintendo-Switch-games/Mario-Luigi-Brothership-2590264.html" class="watch">Website</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="static/img/empire.png">
                <div class="content">
                    <h4>Empire of the Ants</h4>
                    <p>Genre: Strategy</p>
                    <p>Release Date: 07 November 2024</p>
                    <p>Platform: PC</p>
                    <div class="btn">
                        <a href="https://store.steampowered.com/app/2287330/Empire_of_the_Ants/" class="watch">Website</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="static/img/dq3.png">
                <div class="content">
                    <h4>DRAGON QUEST III HD-2D Remake</h4>
                    <p>Genre: RPG</p>
                    <p>Release Date: 14 November 2024</p>
                    <p>Platform: PC</p>
                    <div class="btn">
                        <a href="https://store.steampowered.com/app/2701660/DRAGON_QUEST_III_HD2D_Remake/" class="watch">Website</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="static/img/acs.jpg">
                <div class="content">
                    <h4>Assassin's Creed Shadows</h4>
                    <p>Genre: Action, Adventure, Open-World</p>
                    <p>Release Date: 15 November 2024</p>
                    <p>Platform: PC, Xbox, PS5</p>
                    <div class="btn">
                        <a href="https://store.ubisoft.com/us/game/?irclickid=x1tyuQyrHxyKT5mQqa2MazcEUkCyEGwxqTTVyM0&irgwc=1&ncid=2265-1367---1-aflt-38-58-Store_Affiliation_1943907_--17-2-7-0920-4----ID_94178-----&lang=en_US&pid=660e5a03fbff4e2940488bcd&dwvar_660e5a03fbff4e2940488bcd_Platform=pcdl&edition=null&source=detail" class="watch">Website</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="static/img/stalker2.png">
                <div class="content">
                    <h4>S.T.A.L.K.E.R. 2: HEART OF CHORNOBYL</h4>
                    <p>Genre: Action</p>
                    <p>Release Date: 20 November 2024</p>
                    <p>Platform: PC, Xbox</p>
                    <div class="btn">
                        <a href="https://www.stalker2.com/en" class="watch">Website</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="static/img/ij.png">
                <div class="content">
                    <h4>Indiana Jones and the Great Circle</h4>
                    <p>Genre: Action, Adventure, Puzzle</p>
                    <p>Release Date: 09 December 2024</p>
                    <p>Platform: PC, Xbox</p>
                    <div class="btn">
                        <a href="https://indianajones.bethesda.net/en-US" class="watch">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

</body>
</html>